//begins body//
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: map-get($map: $paleta, $key:"color3" );
}
//ends body//

//begins nav//
nav{
    font-family: 'roboto slab';
    
    nav .navbar-brand{
        font-size: 1.8em;
    }

    ul{
         li{
             a.nav-link{
                font-size: 1em;
                color: black;
            }
        }
    }
}
//ends nav//

//begins main//
main{
    background-color: map-get($map: $paleta, $key:"color3" );
}
//ends main//

//begins hero//
.hero-img{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../img/banner-nuevo\ \(1\).webp)no-repeat center; 
    background-size: cover;

    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2{
            color: rgb(230, 230, 230);
            font-weight: 700;
            font-size: 2rem;
            font-family: 'roboto slab';
        }
        
        button{
            padding: 8px 20px;
            font-family: 'roboto slab';
            font-size: 1.6rem;
            font-weight: bold;
            color: rgb(48, 48, 48);
            background-color: rgb(210, 171, 16);
            border-radius: 8px;
            border: 2px solid rgb(210, 171, 16);
            box-shadow: 4px 4px 15px black; 
        }
    }      
}
//ends hero//

//begins footer//
footer{
    font-family: 'roboto slab';
    background-color: rgb(200, 200, 200);
    width: 100%;
    margin-top: auto;

    .container--footer{
        display: flex;
        justify-content: space-between;
        .footer--copyright{
            .footer--p{
                color: rgb(105, 105, 105);
            }
        }
        .footer--links{
            display: flex;
            flex-direction: column;
            text-align: left;

            a.footer--link{
                text-decoration: none;
                color: black;
            } 
        }
    } 
}
//ends footer//

